body{
	font-family: 'Georgia', serif;
	font-size: 17px;
	color: #444;
}
a {
    color: #0489B3;
    outline: medium none;
    text-decoration: none;
}
section a:hover, article a:hover {
	text-decoration: underline;
}

h1 a, h2 a {
	text-decoration:none;
  color: #000;
}
h2 {
  border-bottom: 1px dotted #CCC;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
    clear: both;
}
.post-info, .postmeta {
  color: #B0B0B0;
  font-size: 0.95em;
  padding-top: 3px;
}

.post {
  margin-bottom: 60px;
}