<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>{% block title %}Blog{% endblock %}</title>
  {% block style %}
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" media="all" href="{{config.url_prefix}}/static/{{config.theme}}/css/layout.css" />
  <link rel="stylesheet" type="text/css" media="all" href="{{config.url_prefix}}/static/{{config.theme}}/css/base.css" />
  {% endblock %}
  {% block headscripts %}
  <script type="text/javascript" src="http://use.typekit.com/xmi3yfc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% endblock %}
  <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
  <link rel="alternate" type="application/atom+xml" href="/feeds/atom.xml" />
  <link rel="SHORTCUT ICON" href="{{config.url_prefix}}/static/{{config.theme}}/favicon.ico"/>
  {% if config.rel_me %}
  <link rel="me" href="{{config.rel_me}}" />
  {% endif %}
</head>

<body>
<header>
  <hgroup id="logo" class="left col">
    <h1><a class="tk-museo-slab"href="/">{{config.blog_name}}</a></h1>
  </hgroup>
  <nav id="navigation" class="right">
   {% for sidebar in config.sidebars %}
    <ul>
      <li{% if generator_class == "IndexContentGenerator" %} id="current"{% endif %}><a href="{{config.url_prefix}}/">Home</a></li>
      {% for entry in sidebar.1 %}
        <li>{{entry}}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </nav>
</header>
<article class="clear">
  {% block body %}{% endblock %}
  <section class="comments">
  {% block comments %}{% endblock %}
  </section>
</article>
<section id="pagenav">
{% block pagenav %}{% endblock %}
</section>
</body>

</html>
